django>=6.0
djangorestframework>=3.17
django-cors-headers>=4.9
djangorestframework-simplejwt>=5.5
pillow>=12.0
python-dotenv>=1.2
requests>=2.32
youtube-transcript-api>=0.6.2
PyPDF2>=3.0.0
whitenoise>=6.7.0
django-unfold>=0.40.0
edge-tts>=6.1.13
PyMuPDF>=1.24.0
yt-dlp>=2024.1.1
groq>=0.9.0
psycopg2-binary>=2.9.0
dj-database-url>=2.0.0
google-generativeai>=0.8.3
l a n g c h a i n = = 1 . 2 . 1 5  
 l a n g c h a i n - c o r e = = 1 . 2 . 2 6  
 l a n g c h a i n - h u g g i n g f a c e = = 1 . 2 . 1  
 s e n t e n c e - t r a n s f o r m e r s = = 5 . 3 . 0  
daphne>=4.1.2
channels>=4.0.0
channels-redis>=4.1.0